<% if user_signed_in? %>
<div id="friends">
  <table class="table table-striped table-bordered table-hover mt-5 shadow">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <tr>
            <td>
              <%= link_to "#{friend.first_name} #{friend.last_name}", friend, class:"link-underline-light"%>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td>
              <%= link_to "Update", edit_friend_path(friend), class: "btn btn-secondary" %>
              <%= link_to "Delete", friend_path(friend), 
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add Friend", new_friend_path, class: "btn btn-primary" %>
</div>
<% else %>
  <%= render "home/index" %>
<% end %>
